<div>
  <img src="/assets/profile-picture.jpeg" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Willow</strong>. I'm a software engineer based in Accra.
    I'm not going to post my socials or anything. I think you can find me if you want to.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
